[2020-05-23 02:01] PetrilloAtWork opened #3 "Relative position of NuMI beam to detector needs update"
The relative position of NuMI beam to detector needs update.

[2020-05-23 02:23] PetrilloAtWork commented on #3
Involved people: @aaduszki

[2020-05-27 00:24] SFBayLaser commented on #3
Should this be a pull request?

[2020-06-04 21:56] PetrilloAtWork opened #11 "Make `icaruscode` depend on `sbncode`."
`icaruscode` is going to depend on `sbncode` (and indirectly on `sbnobj`).

[2020-06-05 01:38] PetrilloAtWork commented on #11
Depends on SBNSoftware/sbncode#6.

[2020-06-13 21:52] PetrilloAtWork opened #14 "Update the enable time of PMT simulation"
The current setting is for 2.8 ms, while the planned one is 2.0 ms.
Need to be careful to set the offsets correctly (it should be starting 1 ms before the beam gate opening time).

[2020-07-15 18:26] PetrilloAtWork commented on #11
Branch SBNSoftware/icaruscode#feature/repositoryRestructuring now contains a version of `icaruscode` that is compatible with `sbncode` branch SBNSoftware/sbncode#feature/repositoryRestructuring. Similar branches are available for SBNSoftware/sbnobj and SBNSoftware/sbndcode.
How does GitHub references work here? Obviously I don't understand it yet.

Anyway: the adaptation work has been much less th

[2020-09-15 17:06] #11 closed

[2020-09-15 17:11] PetrilloAtWork opened #53 "Update refactored branch of icaruscode to the target version"
The refactored branch `feature/repositoryRestructuring` is branched from `v08_56_00`.
It needs to be updated to the target version for refactoring.

[2020-10-16 18:39] wesketchum commented on #53
Done.

[2020-10-16 18:39] #53 closed

[2020-10-20 14:15] SFBayLaser commented on #3
Is there an update to this issue?

[2020-10-20 14:15] SFBayLaser commented on #14
Is there an update to this issue?

[2020-10-20 15:18] aaduszki commented on #3
We are waiting for response from Claudio. By the way, the issue affects not only position w.r.t. NuMI beam, but also BNB beam.

[2020-10-20 18:51] PetrilloAtWork commented on #14
Not really. In fact, I had forgotten about it.
Let's pull in somebody in DAQ, like @wesketchum , to ask if the information that the readout of PMT is enabled from -1 ms to +1 ms with respect to the expected beam gate opening (I can't find Angela Fava user here, or I would bother her too).
My understanding was that at -1 ms the readout board caches are flushed, and 2 ms after that what is in the ca

[2020-10-20 18:56] wesketchum commented on #14
Good q. I'm not sure what the PMT guys have decided on the timing. It's configurable, so I think it could be more ... I'll try to followup.

[2020-10-26 14:40] wesketchum opened #90 "Finalize ICARUS flash-matching code"
Need to work with @drinkingkazu and team to incorporate any last configuration/testing for ICARUS flash-matching. Using this issue as a place-holder to discuss and coordinate what's needed.

[2020-10-28 13:41] mayawos opened #92 "Jobs failed at the reco 1 stage when using reco_icarus_driver_reco_multitpc_gauss_sce.fcl/reco_icarus_driver_reco_multitpc_gauss.fcl"
I'm seeing jobs failures at the reco1 stage when using the `reco_icarus_driver_reco_multitpc_gauss_sce.fcl`/` reco_icarus_driver_reco_multitpc_gauss.fcl`

[code]

The issue is also seen when running interactive session, e.g.
` lar -c reco_icarus_driver_reco_multitpc_gauss_sce.fcl -s /pnfs/icarus/scratch/users/icaruspro/dropbox/mc1/poms_test/MCC1_poms_icarus_prod_BNB_nue_v09_08_00/detsim/gen-simula

[2020-10-28 17:35] wesketchum commented on #92
@cfarnese @PetrilloAtWork @jzennamo @brucehoward-physics  Pinging a few other people here, just to draw attention. Maya also reports this is failing in other samples, so seems to be a common across-board problem.

[2020-10-28 19:11] PetrilloAtWork commented on #92
[code]
Do we need a `PandoraBdt_v08_33_00_SBND.xml` in ICARUS?

[2020-10-28 20:59] brucehoward-physics commented on #92
These XMLs are for the Pandora MVA tools. They live in "PandoraMVAs" directory in icarus_data. Gianluca found that the XMLs existed in the directory, but that there was no entry in CMakeList for this directory.

I did have the magic line in my ups/product_deps for

set_fwdir  product_dir  icarus_data/PandoraMVAs

and things ran when I tested them in my test release.

Does that not work for base re

[2020-10-28 21:48] PetrilloAtWork commented on #92
Right now the problem is that those XML files are not distributed with `icarus_data` release.
@mayawos, could you advise on which kind of solution is acceptable?
My understanding is that the interim release manager, @SFBayLaser, is not available these days, so a new release of `icarus_data` is maybe not possible.
Possibilities include:
* storing the missing files somewhere already included in the

[2020-10-28 21:51] PetrilloAtWork commented on #92
Also note that, in general, lines like `set_fwdir product_dir icarus_data/PandoraMVAs` are usually not necessary, if you can specify a path in your code (which you usually can): having `PandoraBdt_v08_33_00_SBND.xml` in your configuration with `set_fwdir product_dir icarus_data/PandoraMVAs` is equivalent to having `PandoraMVAs/PandoraBdt_v08_33_00_SBND.xml` in your configuration (that is because t

[2020-10-28 21:53] brucehoward-physics commented on #92
Yeah, I just thought it was a little nicer solution than specifying the directory path too. But the magic lines hid that the CMakeList wasn't updated... Dang. I'm sorry :(

[2020-10-28 21:57] brucehoward-physics commented on #92
As a temporary work-around using point 1 in Gianluca's set of ideas, I want to say that probably the path with the PandoraSettings_*_ICARUS.xml files are in the `FW_SEARCH_PATH`? I think it's:

`icaruscode/TPC/Tracking/ICARUSPandora/scripts/`

That might be a good temporary place to check.

[2020-10-28 22:00] brucehoward-physics commented on #92
Unless you need something outside of `icaruscode` as well. Sorry @PetrilloAtWork,  it just occurred to me what you might have meant by "execution environment"

[2020-10-28 22:03] PetrilloAtWork commented on #92
What we are looking for in option 1 is an absolute path configured in `FW_SEARCH_PATH`, that is accessible from the worker node and that we have writing access to.
An example may be a StashCache directory (e.g. `/pnfs/icarus/persistent/stash/icaruspro` or `/pnfs/icarus/persistent/numiflux_sample`, which is not a good choice for obvious reasons ;-) ).

[2020-10-28 22:28] PetrilloAtWork commented on #92
I see that the jobs I submit via `project.py` have no PNFS not StashCache path. Maybe POMS is different?

[2020-10-29 02:05] mayawos commented on #92
@PetrilloAtWork thanks for looking into this. I think solution #2 is the easiest to implement. I can copy the the `PandoraBdt_v08_33_00_SBND.xml` to the`/pnfs/icarus/resilient` area. When submitting the jobs, this file will be copied to the worker node on the grid. I just need to add the `$CONDOR_DIR_INPUT` in the `FW_SEARCH_PATH` inside POMS configuration.

[2020-10-29 05:03] PetrilloAtWork commented on #92
In that case, make sure you copy both the missing files, just in case.
You can see them in [Redmine](https://cdcvs.fnal.gov/redmine/projects/icarus_data/repository/show/icarus_data/PandoraMVAs?rev=feature%2Fhoward_pandorashower_october2020prod), or in any `icarus_data` with branch `feature/howard_pandorashower_october2020prod` checked out at the directory `icarus_data/PandoraMVAs`.
Judging from th

[2020-10-29 14:03] mayawos commented on #92
These are the 2 files I see listed under` icarus_data/PandoraMVAs` in `feature/howard_pandorashower_october2020prod`

[code]

I copied both of these files to the grid node and changed the `FW_SEARCH_PATH` to scan the grid node where the files are being copied to.

Re-ran the reco1 stage using the same detsim input and looks like it's working. i.e. completed jobs exit with code 0 and producing reco

[2020-10-29 16:40] wesketchum commented on #92
So, that seems like it will get things working. But with respect to a new release ... these should get into `icarus_data`? Or someplace else?

[2020-10-29 16:56] brucehoward-physics commented on #92
The two XMLs are in a sub-folder of `icarus_data` already but CMakeLists.txt in the top-level of `icarus_data` isn't set up to

add_subdirectory(PandoraMVAs)

It should also be checked if the CMakeLists.txt in the `PandoraMVAs` directory is sufficient or if further lines need to be present to install the XMLs in a proper way to be used by the base release.

Does `set_fwdir` not work at all with th

[2020-10-29 18:13] wesketchum commented on #92
I think the latter sounds more right?

I will be working on a release, and will explicitly test with Maya's command above outside an mrb build environment, just to make sure it works.

Thanks for the clarification.

[2020-10-30 14:38] SFBayLaser commented on #92
I have updated the CMakeLists.txt file to include the pandora MVAs in the release. Package is tagged and will be in the upcoming release (v09_09_00)

[2020-10-30 21:22] wesketchum opened #93 "avoid use of filter_genie_active.fcl"
I think we should modify generation fcls to avoid usage of the filter_genie_active.fcl: instead, just set volume in which to generate neutrinos to be the TPC active volume.

(I'm sure it's more complicated than this. But just noting an alternate solution would be good.)

@cfarnese can maybe comment?

[2020-10-30 21:27] jzennamo commented on #93
I had thought that this was due to the "two cryostat" issue in the geometry meaning that there wasn't a convenient "sub volume" definition, maybe we can check with Robert Hatcher if we can provide a list of volumes instead of a single volume?

[2020-10-30 21:55] cfarnese commented on #93
The idea to use filter_genie_active is related to the fact that in the icarus geometry if I call volTPCActive I have only 1 TPC (so 1/4 of the detector)... or at least it was in this way before the introduction of the split-wire geometry... My worry is that if we use the volTPCActive we risk to have neutrinos only in one region of the detector, introducing possible bias in the selection (for examp

[2020-10-30 22:07] wesketchum commented on #92
I'm still getting this error in v09_09_00

[code]

[2020-10-31 00:19] brucehoward-physics commented on #92
Now without the complaint about the files I added I assume?

[2020-10-31 22:20] brucehoward-physics commented on #92
I checked and I'm getting the XML files not found in v09_09 as well. I see that the icarus_data version is bumped up to v09_09 but the XML files are not present

[icarusgpvm03.fnal.gov@test-v09_09]$ ls $ICARUS_DATA_DIR/icarus_data/
CRT  FlashMatch  Generator  PhotonLibrary  Responses  SCEoffsets  WirecellData

PandoraMVAs directory is not present

[2020-11-02 14:44] mayawos opened #94 "Exception thrown when processing OpHitFinder at reco stage 1 for nue+cosmic overlay sample (seen in v09_09_00 and v09_08_00)"
@wesketchum @SFBayLaser @PetrilloAtWork @jzennamo

I'm seeing failures related to the nue+cosmic overlay sample when processing reco stage 1 files, and the mode of failures are seen both in icaruscode v09_08_00 and v09_09_00.

I tried to reproduce the issue interactively but the job was killed when ran in icarusgpvm machines. The command to reproduce this issue was:

`lar -c reco_icarus_driver_rec

[2020-11-02 14:47] mayawos commented on #92
Just an update. I keep the workaround I had for v09_08_00 (copying the xml files to the worker node and adding the worker node location to the `FW_SEARCH_PATH`) and the production jobs was able to run in v09_09_00.

[2020-11-02 15:14] wesketchum commented on #94
I expect the job was killed on the gpvms due to memory issues. Likely it's reproducible the on one of the build machines (will try to check in a bit)

[2020-11-03 18:48] brucehoward-physics commented on #92
For what it's worth, I think what's missing still is just fixing the line in `icarus_data/PandoraMVAs/CMakeLists.txt` to be `file(GLOB data *.xml )` so that the xml files are installed.

[2020-11-05 18:25] jzennamo commented on #94
Poking @cfarnese and @mstancar since this is of interest to them

[2020-11-05 18:30] jzennamo commented on #94
also @ggamezdiego

[2020-11-05 20:30] SFBayLaser commented on #94
I understand that Gianluca is looking at it right now.

Sent from my iPhone X

On Nov 5, 2020, at 11:30 AM, jzennamo <notifications@github.com> wrote:

﻿

also @ggamezdiego<https://github.com/ggamezdiego>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/SBNSoftware/icaruscode/issues/94#issuecomment-722559396>, or unsubscribe<h

[2020-11-05 21:11] PetrilloAtWork commented on #94
I **can** reproduce the issue running only `ophit` module instance, and only on the 14th event (`--nskip 13`).
[code]
is probably the key message.

[2020-11-06 02:27] PetrilloAtWork commented on #94
I have patched the code so that this issue should not occur any more.
The patch is in `larana`.
**But** a fundamental issue here is that the algorithm is not properly tuned for this simulation yet.
Users of the sample should have that clear in mind.

SLAC optical reconstruction people (@drinkingkazu , @Temigo , François Drielsma whose GitHub account I apparently can't find) are welcome to take a l

[2020-11-11 15:49] jzennamo opened #99 "Request for 1 ms Lifetime Configuration"
The SBN TPC Sim/Calib group requested we create a set of "standard g4", with SCE on, and 1ms electron lifetime for use in ICARUS commissioning.

Working on fcls now.

[2020-11-11 15:50] jzennamo commented on #99
**note:** this is for the SBN 2020A_00 production

[2020-11-11 17:21] wesketchum commented on #94
@PetrilloAtWork is this done/good to close with this week's larana?

[2020-11-13 15:13] #99 closed

[2020-11-13 16:40] SFBayLaser commented on #92
I believe this week's release (v09_09_02) resolves this issue so am closing.

[2020-11-13 16:40] #92 closed

[2020-11-13 16:52] SFBayLaser commented on #94
This issue should now be fixed with LArSoft v09_09_02 so will close...

[2020-11-13 16:52] #94 closed

[2020-11-17 17:17] wesketchum opened #107 "pandora SCE track instance in ICARUS reco fcl files not properly specified"
Needs path release for 2020A production.

Please continue discussion here.

[2020-11-17 19:43] brucehoward-physics commented on #107
Thanks for setting this up, Wes.

The issue is with the SCE tracks pointing back to the non-SCE pandora. From looking at a config_dumper output for example:

pandoraTrackGausSCECryo0: {
   PFParticleLabel: "pandoraGausCryo0"
   module_type: "LArPandoraTrackCreation"
}

Looking at the `reco_icarus.fcl` I think therefore the fix is just doing this:

`-icarus_reco_producers.pandoraTrackGausSCECryo0.P

[2020-11-18 15:13] wesketchum commented on #107
Hi @brucehoward-physics , @cfarnese , @gMoreno05 , and @mendezdpatricia:

what's the status here?

[2020-11-19 00:52] brucehoward-physics commented on #107
There is a feature branch `feature/howard_sce_bugfix` with a few changed reco_icarus.fcl lines to point the SCE tracks to the SCE Pandora instance. This also has a fcl from @cfarnese that is meant to put in the corrected SCE products.

We took a nu+cosmic file and I re-ran the reco stage on 5 events and also Christian's fcl on 5 events from the production reco2 file of the same thing. (The files w

[2020-11-19 01:12] SFBayLaser commented on #107
Hi Bruce,
  If you are happy enough, can you generate a PR and I can do patch?
  Tracy

Sent from my iPhone X

On Nov 18, 2020, at 4:52 PM, Bruce Howard <notifications@github.com> wrote:

﻿

There is a feature branch feature/howard_sce_bugfix with a few changed reco_icarus.fcl lines to point the SCE tracks to the SCE Pandora instance. This also has a fcl from @cfarnese<https://github.com/cfarnese>

[2020-11-19 01:23] brucehoward-physics commented on #107
I mostly am, though I am curious about this one line that I noticed while looking at the code just now:

icarus_reco_producers.pandoraGausSCECryo0.PFPLabel:						                                 "pandoraGausCryo0"
icarus_reco_producers.pandoraGausSCECryo0.TrackLabel:						                               "pandoraTrackGausCryo0"

Is this the right setup? That `pandoraGausSCECryo0.TrackLabel` is `pand

[2020-11-19 16:24] cfarnese commented on #107
From my side, when you have clarified this last point, you can proceed and we can prepare the new release!

Christian

On Wed, 18 Nov 2020 17:23:38 -0800, Bruce Howard wrote

[2020-11-19 16:42] gputnam commented on #107
@ Bruce I believe you are correct. The "SCE" chain of reconstruction should be using "SCE" producers all the way through.

My suggestion before merging this PR would be to re-process the reco2 SCE chain and make a CAF file (with SCE inputs) to make sure all the necessary modules are using the SCE-based input. That way you can be sure that all of these such errors have been corrected.

[2020-11-19 17:03] brucehoward-physics commented on #107
The specific block that I am still questioning @gputnam is this one:

# Configure the SCE corrections
# For now: always assume t = 0
icarus_reco_producers.pandoraGausSCECryo0.T0Labels:                                            []
icarus_reco_producers.pandoraGausSCECryo0.T0LabelsCorrectT0:                                   []
icarus_reco_producers.pandoraGausSCECryo0.CorrectNoT0Tag:

[2020-11-19 17:04] brucehoward-physics commented on #107
Today I learned that `#` causes a line to become giant in GitHub issue tracker... apologies.

[2020-11-19 19:56] mendezdpatricia commented on #107
Yes, I used SCE products for the CAFs (as they are in cafmakerjob_icarus_sce.fcl)

[2020-11-19 19:57] brucehoward-physics commented on #107
Cool that's what I thought. Gray can you comment on the above block of code then to (I think) finalize the discussion? I believe this block was added by you but if I'm wrong let me know :)

[2020-11-19 20:32] gputnam commented on #107
Hi Bruce -- I think that line is a typo -- it should be "pandoraTrackGausSCECryo0" -- assuming that's how you guys are labeling the SCE-corrected tracks.

[2020-11-19 20:35] brucehoward-physics commented on #107
Yeah the SCE tracks are under the label `pandoraTrackGausSCECryo0` as far as I can tell

It's interesting to me that the code still ran with that line as is but the other fix in place...

I will edit this line and try to remake a test file for @gMoreno05 and @mendezdpatricia to look at 🤔

[2020-11-19 23:25] brucehoward-physics commented on #107
I thought a little more and talked to Ed, who said:

"The tracks are only used to look for T0s

As some of the T0 producers, e.g. CRTs, match to track objects

So I check each if each PFP has a T0, and if not if there is a track associated to the PFP that has a T0"

So I think it doesn't need the SCE Track listed...

I asked for confirmation but as it's late his time probably won't hear back befor

[2020-11-20 14:15] brucehoward-physics commented on #107
Okay Ed said "Yeah, that looks right to me" when I asked. E.g. that using non-SCE tracks in the `pandoraGausSCECryo0.TrackLabel` is OK I think.

So I believe the PR from last night is good to go.

[2020-11-21 16:45] SFBayLaser commented on #107
I have merged in the PR to fix this and have installed a patch release - v09_09_02_01
I will leave this open for now in case this does not solve the problem, but plan to close it early next week.

[2020-12-01 17:30] wesketchum commented on #107
Think this is now fixed and done. Closing.

[2020-12-01 17:30] #107 closed

[2020-12-01 17:32] wesketchum commented on #90
Pull request ready/near ready: Tracy will update.

[2021-01-07 14:47] wesketchum opened #113 "decoder making negative waveform values"
https://github.com/SBNSoftware/icaruscode/blob/d507d0cdb54c64e99634b43967a0f0e89730fe1d/icaruscode/Decode/DecoderTools/TPCDecoderFilter1D_tool.cc#L404

There's a minus sign in the front that I think should not be there ... @SFBayLaser, can you confirm that's likely a bug?

Also, is there any reason not to use the defined function in sbndaq-artdaq-core:
https://github.com/SBNSoftware/sbndaq-artdaq-

[2021-01-07 17:52] SFBayLaser commented on #113
It turns out the waveforms coming from the electronics are inverted with respect to what the deconvolution and signal processing is expecting. The negative sign is intended to flip the polarity and then the (inverted) pedestal is subtracted from the waveform to center it at zero ADC counts.
If you don't have the minus sign then you get waveforms on the collection plane that look like;
![image](htt

[2021-01-22 15:31] SFBayLaser commented on #3
Is there an update to this issue?

[2021-01-22 15:32] SFBayLaser commented on #14
Is there an update to this issue?

[2021-01-22 15:32] SFBayLaser commented on #113
I think this has been resolved?

[2021-01-22 15:45] wesketchum commented on #113
The bit mask prevents potential issues about int vs. uint, but this may indeed not be necessary.

I think we can close this? Sorry, I'm actually not sure then what we see ... @cfarnese , this explains the negative baselines, but does this properly explain the negative going signals on the collection plan as you understand it?

[2021-02-04 02:02] PetrilloAtWork commented on #93
I think the essence of the problem was well captured by @jzennamo.
Previous interactions with Robert Hatcher led to the conclusion that `GENIEhelper` (and the GENIE geometry driver we use, if I recall correctly) do not support multiple volumes.
Unless the volume definition can be moved into GENIE, there is little difference in resource usage in having it in `filter_genie_active.fcl` (soon, `filter

[2021-03-12 18:07] wesketchum opened #133 "PMT Decoder not safe for OM usage"
https://github.com/SBNSoftware/icaruscode/blob/d1f333d8e2ae382fd1051b379882b4fb844079a1/icaruscode/Decode/DaqDecoderICARUSPMT_module.cc#L84

reading fileinfo doesn't work for the online monitoring, as fileinfo is not filled for events that are delivered from the Dispatcher to the OM

Suggest an option in the decoder to not need to use this decoder tool? Ideally would have 'online' and 'offline' ve

[2021-03-12 19:25] PetrilloAtWork commented on #133
The tool we are using should support `DecoderTool.ExtractConfiguration: false`, and that should be the default.
Is that not enough? or is it not working as expected?

[2021-03-12 22:47] PetrilloAtWork commented on #133
The answer from @wesketchum is that setting that tool option is not enough since the error happens upstream of that.

[2021-03-12 22:54] PetrilloAtWork commented on #133
Ok, ok, I entirely removed that feature. I hope you are happy now.

Indeed, I have removed from the decoder tool (and module) the extraction of the PMT configuration from the FHiCL metadata.
That feature was not utilised yet — it will be useful once we have PMT timestamps and trigger timestamps, since for example we need to know where in the waveform the trigger was, which is driven by the post-tr

[2021-03-13 05:02] #133 closed

[2021-03-19 18:05] PetrilloAtWork opened #136 "Reco1 multi-TPC SCE configuration appears broken"
Reported by @gMoreno05 while running `reco_icarus_driver_reco_multitpc_gauss_sce.fcl`:
[code]

New in `v09_18_00`.
Some input labels apparently need to be fixed.

[2021-03-19 18:08] PetrilloAtWork commented on #136
Needless to say, C.I. would help here.
Just saying.

[2021-03-19 19:12] SFBayLaser commented on #136
Ok, this issue is understood and will attempt to get a fix into the next release.
In the meantime, if working with sim/recon, perhaps this could be avoided by using an older release?

[2021-03-21 18:38] SFBayLaser commented on #136
A temporary patch has been applied which simply removes the kalman filter track fit from the "icarus" path for now. Not the correct or even ideal solution but was in need of an interim release and this should prevent jobs from crashing if using that release. So, keep this open until right solution implemented.

[2021-03-21 18:39] SFBayLaser commented on #113
closing...

[2021-03-21 18:39] #113 closed

[2021-04-02 09:24] wesketchum commented on #90
@SFBayLaser @drinkingkazu @ascarpel

Believe initial version of this is done and in as part of our filtering? If so suggest we close this out.

[2021-04-02 12:14] wesketchum commented on #93
Closing this ... if we need workflows for dealing with filtering then (to ensure more stable numbers of events per run), we may reopen a similar issue.

[2021-04-02 12:14] #93 closed

[2021-04-02 14:03] wesketchum commented on #3
Pinging again on this: would be great to get an update @aaduszki.

[2021-04-02 14:04] wesketchum commented on #14
Pinging again, and maybe pinging myself. What is needed to close this out?

[2021-04-02 14:16] SFBayLaser commented on #90
I think the original intent was track-flash matching... so that is still outstanding (and was discussed in the last PMT recon meeting on Thursday, April 1 (no fooling!). However, it is also true that we have flash reconstruction working with the data now and if one interprets this issue a bit more narrowly then it could be defined as done...

[2021-04-02 14:17] SFBayLaser commented on #3
I believe there is one more planned movement getting introduced shortly...

[2021-04-02 14:31] wesketchum commented on #90
I see, well I don't want to close out an ongoing thing then. It'd be good to know if this is a 'something about to be merged' thing, or if it's a 'todo' for the (hopefully near) future. If the latter, we should update the project to "Important Tasks: SBN Software Improvements " https://github.com/orgs/SBNSoftware/projects/12.

[2021-04-06 16:19] PetrilloAtWork opened #143 "GEANT4 simulation for neutrino + cosmic ray samples"
It turns out that in some old production we have used the "standard" `LArG4` configuration to process the neutrino + cosmic ray samples.
As a reminder, we have a `standard_g4_icarus.fcl` configuration which saves everything and everywhere, and a set `cosmics_g4_icarus[_volCryostat,_volDetEnc].fcl` which has a higher energy requirement and may have a volume constraint (these requirements affect whe

[2021-04-08 03:51] PetrilloAtWork opened #145 "Channel mapping database: C:1 T:3 P:2"
`C:1 T:3 P:2 W:1176-1400` appear to have cable mapping inverted.
This was observed in event `R:5291 E:18972` (`data_dl19_run5291_15_20210320T003109.root`).
The file was processed on `2021-03-20T05:56:51+00:00` according to SAM metadata.

Note that the range reported above is approximate and a thorough check should be performed to discover the proper cables (likely, 9 of them).

Reported by @dkoh02

[2021-04-09 02:57] PetrilloAtWork commented on #14
Mostly some clarity about what the readout/DAQ configuration is going to be.
I think we are going to get there with the first commissioning of the multi-window PMT acquisition (i.e. storing interesting PMT waveforms even out of the beam gate), which should happen in one-two months time scale.

[2021-04-09 04:09] PetrilloAtWork opened #147 "Avoid art jobs with duplicate events"
I have received the n-th request for support that turned out to be caused by duplicate events, so I am triggering this.

## Definition: duplicate event

At the state of the _art_, a duplicate event is an event with the same ID (run, subrun and event number) as another event already processed.

## Duplicate events and _art_

The _art_ framework requires that a job process no duplicate events.
If th

[2021-04-12 03:06] PetrilloAtWork opened #151 "PMT readout fragment ID change"
Recently the ID of the fragments from PMT readout boards (V1730) has changed (from `N` to `0x2000 + N`).
User code needs to mask the additional bits to access the PMT channel mapping database, which retains the old fragment ID values.

The standard interface to access that PMT channel mapping database from LArSoft environment is the service family `IICARUSChannelMap`, some methods of which accept

[2021-04-12 03:07] PetrilloAtWork commented on #151
This is a request for comments on the idea. Among the people involved: @wesketchum, @SFBayLaser, @ascarpel.

[2021-04-12 20:24] #147 closed

[2021-06-18 15:09] #14 closed

[2021-06-29 19:56] gputnam opened #191 "Space Charge Service Coordinate Restriction Fails in Edge Case"
At: https://github.com/SBNSoftware/icaruscode/blob/190b11d2965547f7218a4fd2b532e6cb0bc80b65/icaruscode/TPC/Simulation/SpaceCharge/SpaceChargeICARUS.cxx#L229
And: https://github.com/SBNSoftware/icaruscode/blob/190b11d2965547f7218a4fd2b532e6cb0bc80b65/icaruscode/TPC/Simulation/SpaceCharge/SpaceChargeICARUS.cxx#L243
The checking of the coordinate boundary is slightly different from the value it is se

[2021-07-08 18:34] PetrilloAtWork opened #197 "Trigger decoder update with sbndaq-artdaq-core"
When the release including SBNSoftware/sbndaq-artdaq-core#31 is adopted in `icaruscode`, the trigger decoder needs to be updated accordingly.

[2021-07-08 18:36] PetrilloAtWork commented on #197
Assigning to the interim release manager (@SFBayLaser) in order to ring the bell when the time is ripe.
Then it will be up to @PetrilloAtWork or @jzettle to act.

[2021-07-12 17:39] #191 closed

[2021-07-12 21:07] biswaranjan91 commented on #145
This has been fixed with the v09_26_00 release.

[2021-07-12 21:30] gputnam opened #201 "Pedestal Computation in PMT Reconstruction is Printing a lot of Error Messages"
When running the existing ICARUS PMT reconstruction, there are a lot of error messages:

See, for example: `/pnfs/icarus/scratch/users/gputnam/icarus-sce-testing/muonB_cryo1/46600503_150/46600503_150.log`.

I have tracked down the source of this error message to: https://github.com/LArSoft/larana/blob/53e16719e2167dcab8852500b5ddb93cb3874ca2/larana/OpticalDetector/OpHitFinder/PedAlgoRmsSlider.cxx#

[2021-07-22 05:18] #145 closed

[2021-07-22 05:34] PetrilloAtWork opened #209 "Photon visibility service configuration does not reflect the new geometry"
The configuration of `PhotonVisibilityService` for ICARUS is using the cryostat coordinates before their translation [(`icarus_v3`)](https://sbnsoftware.github.io/icaruscode_wiki/Detector_geometry.html#geometry-description-versions).

**This is a high priority bug**.

One step toward the solution is to update the configuration. Of course, this will in turn break all the ones using `icarus_v2`, whi

[2021-07-23 20:17] #209 closed

[2021-07-28 15:45] wesketchum commented on #3
I see a PR here. Is this resolved @SFBayLaser ?

[2021-07-28 16:00] wesketchum commented on #143
Looping in @hgreenlee and ... well, wanted to loop in Sophie but invitation to SBNSoftware is pending.

@SFBayLaser , @PetrilloAtWork , please comment if any change on this or if it's still true.

[2021-07-28 16:02] wesketchum commented on #90
@SFBayLaser I'm closing this, in favor of making a new one that's more relevant.

[2021-07-28 16:02] #90 closed

[2021-07-28 16:13] wesketchum commented on #201
@SFBayLaser , can you help assign someone to followup on this? (Or otherwise comment?)

[2021-07-28 16:15] wesketchum commented on #197
I think this is now adapted? @SFBayLaser @PetrilloAtWork @jzettle , can I resurrect discussion so we can resolve?

[2021-07-28 16:20] wesketchum commented on #151
This is resolved? If so, @PetrilloAtWork, @SFBayLaser , @ascarpel  or someone who can confirm, please close?

[2021-07-28 19:54] drinkingkazu commented on #90
Incorporation of the "lastes flash matching code into sbncode" is being worked out. probably more relevant to have an issue tracker there? We made so that OpT0Finder package can be literally git cloned inside sbncode and be part of the build while retaining its stand-alone build capability (i.e. literally you can "copy" the whole directory under sbncode and it can be `mrb`-ed). It might be sensibl

[2021-07-28 22:02] wesketchum commented on #136
@SFBayLaser @PetrilloAtWork is this past a temp fix and can be closed? Or needs more work?

[2021-07-28 23:19] PetrilloAtWork commented on #151
I don't think it has been addressed.
I still see no masking in `ICARUSChannelMapProvider.cxx`.
@ascarpel, @animeshgit20, @biswaranjan91 , what is the fragment ID key in the PMT channel mapping database now? pattern `0x20xx` or `0x00xx`?

[2021-07-28 23:24] PetrilloAtWork commented on #197
I rely on you (@wesketchum) to know if it has been adopted.
I can take care of removing the workaround code I added, although I don't see myself doing that this week.

[2021-07-28 23:29] PetrilloAtWork commented on #143
Pushing the ball into François and @SFBayLaser court (I never remember François's GitHub user...).

[2021-07-28 23:37] PetrilloAtWork commented on #3
Which pull request?
Laura's commit seems unrelated (but a keyword in the commit message has inspired GitHub a connection).

[2021-07-30 17:46] wesketchum opened #218 "ICARUS Noise Simulation Updates"
Issue to capture work on noise model updates for ICARUS simulation (@varanini is working on it I believe...). Filippo, please comment/expand/modify/etc. as you see fit.

Adding to to project tracking for 13 Aug production: if it's ready by then, great, otherwise will be pushed to Oct 1.

[2021-07-30 17:48] wesketchum opened #219 "Generate ICARUS neutrino events in both cryostats"
Should have fcl for generating in both cryostats, and then finalize on what to use for default simulation.

@jzennamo said he could work on this.

[2021-07-30 17:50] wesketchum opened #220 "Update to 2D ROI finding in ICARUS"
Placeholder issue for ROI finding updates in ICARUS (believe work from Dae ... assigning @SFBayLaser to track/provide more clarity as to what needs to be done).

[2021-07-30 20:03] SFBayLaser commented on #220
There are two versions and we use the first in production now - an "ROI finder" runs post deconvolution and uses the old school 2D morphological functions to find the ROIs. Works ok. The better version which finds ROIs during noise filtering is now working properly and will be part of next release. But will need study/tuning to optimize.

[2021-07-31 15:33] SFBayLaser commented on #220
https://github.com/SBNSoftware/icaruscode/pull/221 will include the code to run the "new" ROI finding on the raw images and then output those (right now in the form of Wire objects) which are then picked up after deconvolution to determine the ROIs to applied to those waveforms. Will include this in the next release (Sunday morning is target).

[2021-07-31 15:34] SFBayLaser commented on #218
I have not seen an update from Filippo and assume this will not get included in this week's release (due out Sunday, Aug 1).

[2021-07-31 15:37] SFBayLaser commented on #197
The link above indicates the PR in sbndaq_artdaq_core was merged successfully. I presume this means the workaround in @PetrilloAtWork 's code can now be removed? Is there already an icaruscode PR for this?

[2021-08-02 17:07] wesketchum commented on #220
Thanks @SFBayLaser. Going to close this issue. Can open another one for tuning/optimization as needed.

[2021-08-02 17:07] #220 closed

[2021-08-04 13:02] ikatza opened #225 "Include Simple-Flash Matcher to the standard chain of reconstruction"
The Simple-Flash Matcher was designed for `sbndcode` and `icaruscode`. Is routinely used by analysers on both collaborations and is already part of the standard record of CAFAna. Importantly it is a key element of the numu and nue selection studies in ICARUS and also used for NuMI selection.

As a guide this commit shows the changes made for `sbndcode`:
https://github.com/SBNSoftware/sbndcode/comm

[2021-08-05 15:57] brucehoward-physics commented on #225
I think this is the issue that Iker just mentioned to @jzettle in a shared chat we were just having? If so this _might_ be something that Jacob would look into as he is thinking to take a look at some of the data.

[2021-08-05 15:59] jzettle commented on #225
I can attempt to look at this if I can navigate the fcl maze to find the right places for this in the standard files

[2021-08-06 19:13] wesketchum commented on #225
Wonderful, just officially assigned @jzettle to it then.

[2021-08-09 16:54] SFBayLaser commented on #136
I think we are done with this and it can be closed. The tracking folks are moving along and will address the "right" solution when they need it.

[2021-08-09 16:57] brucehoward-physics commented on #136
Is there even an SCE correction path being used in the "ICARUS" hit chain, let alone for Kalman tracks specifically?

[2021-08-09 17:04] SFBayLaser commented on #143
@francois-drielsma

[2021-08-09 17:07] SFBayLaser commented on #143
note that with [PR 214](https://github.com/SBNSoftware/icaruscode/pull/214) we have stopped storing shower daughters by default (meaning you have to turn that back on to get the full tree). If I understand correctly, Gianluca's solution above sets a higher kinetic energy cut AND restricts particles to be in the cryostat. I would leave it to @PetrilloAtWork to comment on whether simply eliminating

[2021-08-09 21:42] wesketchum commented on #218
Believe #228 resolves this issue. @varanini or @SFBayLaser is it in standard fcls?

[2021-08-09 21:51] jzennamo opened #229 "Change ICARUS CORSIKA configurations to use proton-model"
My understanding was that for the August production we wanted to use the proton-model for CORSIKA cosmic simulation, but when I reviewed `prodcorsika_genie_overburden_icarus.fcl` it looks to be calling other CORSIKA database files. Can people confirm that this fcl is what we want to use for the production samples?

[2021-08-09 22:14] wesketchum commented on #136
Closing based on @SFBayLaser 's coment. (@brucehoward-physics don't know the answer to your q...)

[2021-08-09 22:14] #136 closed

[2021-08-09 22:21] wesketchum commented on #225
@jzettle any progress on this?

[2021-08-09 22:30] jzettle commented on #225
@wesketchum Not quite yet. Trying to navigate where this should go without much understanding of how this standard reconstruction chain works or is run is difficult.

[2021-08-09 23:00] jzettle commented on #225
So I tried to include this in what I think is a relevant place, but I have absolutely no experience in using this so it's difficult to understand if I've done something that makes sense. Now I will try to somehow run something to test this and try to make changes if needed. If there's a standard pathway for testing these changes that would be much appreciated to know what that is.

[2021-08-10 01:51] brucehoward-physics commented on #225
So, I was thinking about this, and I think probably this change/updating belongs as part of the changes in this PR grouping no?

https://github.com/SBNSoftware/icaruscode/pull/223

Tagging @gputnam in case he thinks differently.

[2021-08-10 01:57] PetrilloAtWork commented on #229
I confirm _it is not_. The proton configuration is without overburden, and the overburden configuration is CMC.

[2021-08-10 07:52] PetrilloAtWork commented on #229
I have pushed a `prodcorsika_genie_protononly_overburden_icarus.fcl` in pull request #223 (branch `feature/MCP2021Reco`) that should do the standard stuff in the standard way.
Something is broken in my box though, so I could not test it.

[2021-08-10 08:10] cfarnese commented on #229
Thanks Gianluca for this commit! One thing I am not able to understand simply looking to the code is: in which volume are we simulating? In the past we used VolCryostat but now the request is to simulate on both cryostat so we need to check for it (using for example volDetEnclosure)... can you confirm that we are now using this volume?

[2021-08-10 09:05] cfarnese commented on #229
Update: I made a small test and I can confirm that the used volume allows to have neutrinos in both cryostats! As in the past, after this gen stage we need  to run the filter_genie_active_icarus.fcl and it seems that only ~40% of the events survive the filter... I hope it helps!

[2021-08-10 14:56] jzennamo commented on #229
Great, thanks both!

[2021-08-10 14:56] #229 closed

[2021-08-10 15:12] jzennamo commented on #218
@SFBayLaser confirms that this is now working and configured by default. Thanks Tracy!

[2021-08-10 15:12] #218 closed

[2021-08-10 15:14] SFBayLaser commented on #225
Sorry, wasting all of my time in fallout from release yesterday. We REALLY need someone else doing that job!
Anyway, the aim for the next production is to follow a reconstruction path for simulation that is nearer to the data path we are running now so there are new fhicl files to be run in this case. The equivalent to "stage 1" is where we will be adding more higher level reconstruction items. Fo

[2021-08-10 15:17] SFBayLaser commented on #225
The draft version for stage 1 is located at https://github.com/SBNSoftware/icaruscode/blob/develop/icaruscode/Decode/fcl/stage1_multiTPC_icarus_gauss_MC.fcl
I think @gputnam has some updates for this already but not sure if on feature branch yet?

[2021-08-10 18:52] jzennamo commented on #143
Is this also an issue for in-time generation fcls?

[2021-08-10 20:09] jzettle commented on #225
@SFBayLaser So the suggestion is to place this in the same "defs" file (stage1_icarus_defs.fcl) as some of these other things (as this has been used in both data and MC) and then add that within the file you linked? I feel I'm more confused on where this is meant to go. I apologize, I don't have much understanding of how all this works so it feels as though I'm missing some fundamental piece here.

[2021-08-11 14:34] wesketchum opened #233 "Create "Stage 2" FCL files for ICARUS workflows"
per discussion at 11 Aug release meeting, lots of new high-level reco/matching/analysis additions would be good candidates for a separate 'stage 2' fcl file.

Work on this can proceed with the 2021B release, and complete prior to 2021C release.

(@SFBayLaser and others should comment, make new issues, etc. as necessary)

[2021-08-11 16:04] gputnam commented on #233
Hey! So I missed this meeting but I believe I have implemented something like this planned for MCP2021B. This is currently setup as the "caf" configurations on https://github.com/SBNSoftware/icaruscode/pull/223: https://github.com/SBNSoftware/icaruscode/tree/feature/MCP2021Reco/fcl/caf. I have put a few high-level-reco-modules in this "stage": space charge corrections, momentum calculations, PID,

[2021-08-11 16:52] SFBayLaser commented on #233
Opinion: all things that are not directly "reconstruction" should move to a stage2 fhicl file - for example any summary type tuple that would be output from the job. Stage 1 could be written to tape, the summary jobs can run on existing stage 1 output as they continue to evolve. Also, all MC truth could be done there too. Feel free to comment.

[2021-08-11 21:29] jzennamo opened #235 "Need NuMI Oscillation Samples"
This should include NuMI full-osc and NuMI nue samples

[2021-08-12 00:42] SFBayLaser commented on #233
I have created a feature branch (see https://github.com/SBNSoftware/icaruscode/tree/feature/usher_data_MC_fhicl_updates) with some updates based on challenges of the past couple of days. So there is protection against missing TPC data so things won't crash, there is a fix to allow the `noise_factor` to be set again by fhicl, etc. I've also done more work on trying to get the stage0 MC updated to b

[2021-08-12 15:44] jzettle commented on #225
@wesketchum So I have attempted to complete this in a feature branch here: https://github.com/SBNSoftware/icaruscode/tree/feature_jzettleFMatchICARUSStandardReco. I am somewhat unsure if I have the right idea here and I am not sure how to successfully test that this doesn't break anything as trying to follow MC generation from the production spreadsheet was unsuccessful in even getting to this sta

[2021-08-12 16:07] brucehoward-physics commented on #225
From a *very* quick look that seems like the right idea - were you able to get it to run in data and produce FM results? Which sim did you try to use?

[2021-08-12 16:09] brucehoward-physics commented on #225
Also I guess I should say that @SFBayLaser started a feature branch (https://github.com/SBNSoftware/icaruscode/tree/feature/usher_data_MC_fhicl_updates), so I guess instead of the relevant PR being https://github.com/SBNSoftware/icaruscode/pull/223 that I mentioned above, maybe this branch is the more appropriate place to be looking 😅

[2021-08-12 19:47] PetrilloAtWork opened #236 "SpaceCharge service configurations"
So far ICARUS is getting away with claiming space charge is negligible and with a `SpaceChargeService` configuration that just disables the corrections ([`fcl/services/correctionservices_icarus.fcl`](https://github.com/SBNSoftware/icaruscode/blob/ef5538a00b44b6f2e99f4265acc1ba73edc0ca03/fcl/services/correctionservices_icarus.fcl)).

Space charge seems to be very popular anyway. Enough so that a pr

[2021-08-17 14:09] #3 closed

[2021-08-17 14:25] #219 closed

[2021-08-17 19:35] wesketchum commented on #225
Closing as it has been merged in with #223

[2021-08-17 19:35] #225 closed

[2021-08-18 13:47] wesketchum commented on #143
I'm moving this to the 2021B_XX project...though we should close it if it is a closed issue. If we need new fhicls/updates to workflows we should make those as part of a patch.

[2021-08-19 14:11] jzennamo opened #240 "No overburden G4 configuration fcl"
For the start of production, we wanted to create some samples for ICARUS without overburden but I am having trouble finding a G4 fcl that enables this workflow. I thought that maybe `g4_enable_spacecharge.fcl` would do it but it looks like there are other differences from the standard `g4_enable_spacecharge_cosmics_ovb.fcl`. Is this the correct fcl to be using? Are the other changes not "impactful

[2021-08-19 19:38] #233 closed

[2021-08-21 05:01] PetrilloAtWork opened #243 "Restore (modified) per-event random policy as default"
LArSoft `v09_28_02` adopts a newer version of `nugen` which introduces some level of control for seeds outside `art::Event` in the `perEvent` random seed policy.

As a reminder, the original issue, reported as [LArSoft issue #26116](https://cdcvs.fnal.gov/redmine/issues/26116), was that `perEvent` policy would set the random seeds only just before processing each event, so that the engine seeds re

[2021-08-23 14:19] PetrilloAtWork commented on #240
The configuration `cosmics_g4_icarus_sce_nooverburden.fcl` was added with pull request #241 for production.
`g4_enable_spacecharge.fcl` does not have our common settings for cosmic rays (for what is worth).

[2021-08-24 14:24] #240 closed

[2021-08-24 16:10] wesketchum opened #246 "Update noise reduction factor in ICARUS noise simulation"
Re: conversation at SBN AI meeting 24 Aug, need to update the noise model reduction factor from 0.6 to 0.8 (or expert recommendation) ASAP for SBN2021B production.

[2021-08-24 21:13] SFBayLaser commented on #246
By agreement after the Analysis Infrastructure meeting we agreed to set the scaling factor to 0.8 for now.

[2021-08-25 14:02] #246 closed

[2021-08-25 14:07] wesketchum commented on #143
Now defined as per v09_28_01_01 release.

[2021-08-25 14:07] #143 closed

[2021-08-26 17:06] FernandaPsihas opened #250 "Include weight production to the ICARUS CAFMaker fcl"
An equivalent fcl to https://github.com/SBNSoftware/sbncode/blob/develop/fcl/caf/sbnd/cafmakerjob_sbnd_sce_geniewgt.fcl is needed to produce CAFs with genie weights.

[2021-09-17 17:01] #235 closed

[2021-09-20 16:14] jzennamo opened #256 "NuMI Flux File Path"
I believe that in 2021B MC production the flux file path is incorrect and should be updated for the next production

[2021-09-20 16:30] brucehoward-physics commented on #256
Thanks for making this issue. I am going to make/PR the fix that @betan009 told me (I think it's order: one line * N fcls to make the change)

[2021-10-19 03:32] mrmooney opened #271 "SCE Simulation Broken in ICARUS MC"
SCE simulation is broken in ICARUS MC because the cryostat location was moved and the SCE maps assume a fixed coordinate system that is no longer correct given the change in geometry - see here (Slide 9, right):  https://indico.fnal.gov/event/51213/contributions/224937/attachments/148037/190059/ICARUS_TechnicalMeeting_21_10_05.pdf

If someone can tell me the precise coordinates of the TPC active v

[2021-10-19 14:23] SFBayLaser commented on #271
Shouldn't the space charge effects depend on the local coordinate system of the TPC and not the global coordinate system? This would insulate this from any future potential geometry changes... as well, perhaps this would also allow the space charge simulation to be simplified since it could be mirrored between the 4 TPCs?

[2021-11-02 21:19] wesketchum commented on #236
@mrmooney @varanini assigning you to coordinate on this if that's ok, and make sure we have something consistent for SBND.

@marcodeltutto and Alessandro M., good to keep you looped in ...

[2021-11-02 21:28] wesketchum commented on #201
@SFBayLaser @PetrilloAtWork @ascarpel comment on this? If it's a real error we should make sure to address. If it's not we should remove the warning message...

[2021-11-02 21:29] wesketchum commented on #197
@PetrilloAtWork has this been addressed already?

[2021-11-02 21:31] varanini commented on #236
@mrmooney is more of an SCE expert than me. But I would agree (maybe adding a double space charge configuration for testing could be a good idea).
We should be careful about not correcting for SCE twice (there was a similar problem for SBND at the recent calib workshop)

[2021-11-02 21:31] wesketchum commented on #151
@PetrilloAtWork @ascarpel @animeshgit20 @biswaranjan91 I think at this point this has been fixed? If so, let's close this out?

[2021-11-02 21:35] wesketchum commented on #243
@PetrilloAtWork has this been done, now that we're beyond this LArSoft version?

[2021-11-02 21:35] wesketchum commented on #250
@FernandaPsihas @PetrilloAtWork any update on this? Can you coordinate this work if it's not in?

[2021-11-02 21:42] wesketchum commented on #256
#259 was merged in, so closing this.

[2021-11-02 21:42] #256 closed

[2021-11-02 21:42] wesketchum commented on #271
@mrmooney any update on this?

[2021-11-02 21:49] wesketchum opened #278 "Use LArQL in ICARUS"
Per discussion in SBN AI meeting today (2 Nov), we want to update ICARUS to using LArQL for 2021C.

@marcodeltutto can help advise on the one line fcl change.

[2021-11-02 21:51] wesketchum opened #279 "Validation of 2D Drift Simulation"
Need to complete validation of 2D drift simulation, also incorporating updates to the new LArG4.

[2021-11-02 21:53] wesketchum opened #280 "Update in coherent noise model"
Need an update to correlate coherent noise across planes. @varanini working on this, and will pass along to @rennney and others for further validation. (Further details welcome!)

[2021-11-04 01:04] marcodeltutto commented on #236
Thanks @wesketchum. We can actually work on having the same (or similar) configurations in `sbndcode` in a `spacecharge_sbnd.fcl`.

[2021-11-08 15:28] wesketchum commented on #280
Don't know if this is related to #284 or not. Would be good to followup on that/close the loop.

[2021-11-08 15:35] biswaranjan91 commented on #151
FragmentID for PMT in the database is an integer from 0 to 23.
Still it has not in the  pattern of 0x20xx or 0x00xx.
From my recollection, PMT decoder level it has changed, however we have not changed in the database level. May be Andrea(@ascarpel) can help on confirming this. I can check but not sure which fhicl file was used officially for PMT decoder.

[2021-11-08 16:27] wesketchum opened #285 "Ability to generate different electron lifetime per cryostat"
Need the ability to generate with differing electron lifetimes per cryostat.

For 1D sim this is making this work nicely with services.

For 2D sim, this is making this work with the jsonette parameters in the WC drifting modules.

So both will likely require external input/developments.

[2021-11-08 18:14] PetrilloAtWork commented on #151
The issue was to elicit comments on encoding the database key (0-23) in the interface to the database.
Neither this has been implemented, nor opinions have been offered. So no, not done yet.

[2021-11-09 02:24] PetrilloAtWork commented on #151
I have opened a pull request with a proposed implementation.
Let's see if this can push the issue toward its conclusion.

[2021-11-09 03:20] brucehoward-physics commented on #271
Following up on this... Looking in a new release at the output of
[code]
I still see `Drift distance:    149.04 cm` which suggests that there may still be some tinkering needed with the geometry? (since the original line of inquiry, as I recall, was why it was saying 149.04 cm instead of 148.2 cm). I put these on these messages on this thread since it could mean further changes needed for SCE map,

[2021-11-10 14:18] jzennamo opened #288 "ICARUS PMT Response Mismatch Between Data and MC"

[2021-11-10 14:26] jzennamo commented on #288
For reference, this was discussed in Daniele Giben's talk in the Nov 2021 ICARUS collaboration meeting talk:
https://indico.fnal.gov/event/51231/

[2021-11-15 17:35] brucehoward-physics opened #290 "Updating the Pandora XMLs for upcoming release"
Proposed changes (see also SBN doc-23988):

* (Update/Bug) Change "master settings" XMLs to remove instances of `LArTrackParticleBuilding` and `LArPcaShowerParticleBuilding` which are believed unnecessary and a source of a track-shower ID bug.

* (Update) Add second "Neutrino settings" XML that is meant to be specifically for NuMI with a modified "MaxX0" parameter that is actually larger than the

[2021-11-15 17:54] brucehoward-physics opened #291 "Updating FHiCLs for upcoming release"
* (Update/Addition) Add an SCE-on version of NuMI in-time cosmics gen ([analogous to the two-liner one for BNB](https://github.com/SBNSoftware/icaruscode/blob/develop/fcl/gen/corsika/prodcorsika_proton_intime_icarus_bnb_sce_on.fcl))

* Enable the "Active Bounding Box" for determination of geometry within Pandora. This was added to switch from the default way which seemed to not properly account fo

[2021-11-15 23:01] jzennamo commented on #236
Just to clarify @mrmooney and @varanini are we happy that the current Stage1 reconstruction *does not* apply SCE corrections to the tracks in ICARUS?

[2021-11-15 23:20] PetrilloAtWork commented on #197
I think it's [lines 340-345](https://github.com/SBNSoftware/icaruscode/blob/9677f3aedea2eb3ae29b9787f7dc21536e75c636/icaruscode/Decode/DecoderTools/TriggerDecoder_tool.cc#L340-L345), and this hasn't been fixed.
In fact, I hadn't even noticed your answer with the all clear.
Assigning this to myself, but there is a competing pull request that I don't want to mess up (besides not being sure of when I

[2021-11-15 23:21] PetrilloAtWork commented on #197
Ok, it was already assigned to me :-P

[2021-11-17 16:09] varanini commented on #236
OK for me

[2021-11-17 16:09] varanini commented on #236
see conversation on Slack

[2021-11-17 16:29] wesketchum opened #293 "Updated ICARUS Data Workflows For OffBeam streams (BNB and NuMI)"
There's been a bit of conversation ongoing on slacks and emails on getting workflows going for offbeam streams that are separated to be BNB-like and NuMI-like. To better track this leading into any ICARUS needed updates, I'm making an issue here and we should lead to appropriate PRs.

[2021-11-17 17:39] wesketchum commented on #293
From the online file management side:

* I added `offbeamnumi` and `offbeambnb` to `data_streams`
* I updated the assignment for new files to have beam type 'none'

Looks to me from FTS logs that SAM information is being properly declared, though still awaiting the first files to be transferred properly.

[2021-11-17 19:37] #278 closed

[2021-11-17 19:46] #250 closed

[2021-11-19 14:55] jzennamo commented on #280
@SFBayLaser I think your recent pushes addressed this correct? Can we close this?

[2021-11-19 14:58] jzennamo commented on #280
Specifically https://github.com/SBNSoftware/icaruscode/pull/284 and https://github.com/SBNSoftware/icaruscode/pull/294

[2021-11-19 15:08] SFBayLaser commented on #280
Not quite yet. What has been done up to now is to include the ability to simulate noise in the TPC on a readout board basis (64 channels). The initial FFT histograms to generate this noise, based on small statistics, has been included in icarus_data.
To do:

1. Update the FFT histograms with a more complete sampling of the noise from data. This is work in progress with the first bit to simply get

[2021-11-19 15:09] jzennamo commented on #280
Thanks for the update!

[2021-11-19 23:43] brucehoward-physics commented on #291
Addressed in https://github.com/SBNSoftware/icaruscode/pull/297 and https://github.com/SBNSoftware/icarusalg/pull/43

[2021-11-19 23:46] brucehoward-physics commented on #290
Point 1 and Point 2 addressed in https://github.com/SBNSoftware/icaruscode/pull/297

Point 3 addressed in more hesitantly made PR https://github.com/SBNSoftware/icaruscode/pull/298 that may or may not get merged in now. Comments there welcome on what is preferred.

[2021-11-22 17:11] wesketchum commented on #151
PR has been merged, so claiming this is done.

[2021-11-22 17:11] #151 closed

[2021-11-22 21:26] #290 closed

[2021-11-22 21:26] #291 closed

[2021-11-23 22:16] wesketchum commented on #201
OK, I'm running over recent files now in near-ICARUS prod release and not seeing these warnings so much, so I'm going to close this issue. Can reopen as needed.

[2021-11-23 22:16] #201 closed

[2021-11-24 14:43] #293 closed

[2021-11-30 18:04] PetrilloAtWork opened #305 "Add in-time cosmic ray simulation job to C.I. tests"
A complete workflow with just a couple of events should be added for in-time cosmic ray generation.
The one from 2021C production campaign can be taken as a reference configuration.

[2021-11-30 18:05] PetrilloAtWork commented on #305
I am adding @rennney as assignee, but of course I am available for support.
Also @SFBayLaser pinged for knowledge.

[2021-12-07 22:50] chilge opened #309 "tune CI test thresholds for SBN 2021C"
**[CI Test Report](https://dbweb9.fnal.gov:8443/TestCI/app/ns:icarus/build_detail/phase_details?build_id=icarus_ci/3252&platform=Linux%203.10.0-1160.45.1.el7.x86_64&phase=ci_tests&buildtype=slf7%20e20:prof)**
1. nucosmics_detsim_quick_test_icaruscode | (Problem: Differences in products sizes)
2. nucosmics_g4_quick_test_icaruscode | (Problem: Differences in products sizes)
3. nucosmics_gen_quick_te

[2022-01-28 22:07] #305 closed

[2022-01-28 22:07] #309 closed

[2022-02-21 16:54] cjbackhouse opened #339 "Set SAM_EXPERIMENT=sbn by default"
Now that the SAM databases are unified, we should set `SAM_EXPERIMENT=sbn` in the default setup. This will make the samweb command-line tool, and CAFAna's SAM infrastructure, work out of the box. This is set by `/cvmfs/icarus.opensciencegrid.org/products/icarus/setup_icarus.sh`, but I'm not sure where (if anywhere?) that is version controlled.

[2022-02-21 16:54] cjbackhouse commented on #339
See also https://github.com/SBNSoftware/sbndcode/issues/260

[2022-03-22 08:03] wesketchum commented on #288
@PetrilloAtWork @drinkingkazu I know there's been a lot of work on this: can we update the status here, and either close this issue (in favor of something more specific) or elaborate on next steps here?

[2022-03-31 07:23] wesketchum opened #380 "PMT Optical Reconstruction Broken in 2022A validation testing"
Needs a fix. Believe PR draft to watch is https://github.com/SBNSoftware/icaruscode/pull/379

[2022-05-19 23:05] PetrilloAtWork opened #401 "Unreadable data files with icaruscode v09_51_00"
The last commit here https://github.com/SBNSoftware/icaruscode/pull/375/commits/41ddf9b5729210bd179086d27da655797c27afb0 causes trouble looking like

`       The StreamerInfo of class sbn::ExtraTriggerInfo read from file XXX`
`       has the same version (=10) as the active class but a different checksum.`
`       You should update the version to ClassDef(sbn::ExtraTriggerInfo,11).`
`       Do not

[2022-05-19 23:08] PetrilloAtWork commented on #401
I think that the solution is to restore the old checksum and pretend nothing happened.
The only permanent impact is with people creating files with `v09_51_00`, which is only for data files, only for runs before April, and only for full (`Stage0`) decoding.

[2022-05-19 23:13] cjbackhouse commented on #401
I'm surprised that the release build allowed a checksum to be specified that differs from the original (presumably still correct) v10 checksum. If we can confirm that removing the checksum completely and rebuilding gives the old v10 checksum then I agree with @PetrilloAtWork

[2022-05-19 23:19] PetrilloAtWork commented on #401
... and by mistake commit bb19d51 doing that landed into `develop`.

[2022-05-19 23:34] rennney commented on #401
Hello, I want to make sure I understand that you decided to do. I assume the last commit from @PetrilloAtWork to develop fixes the issue and we will release v09_52_00 with this fix, while the version v09_51_00 will be left behind.

PS. I wonder why the CI build was successful, it looks like the issue that should have broken the initial build.

Adding @mmrosenberg

[2022-05-19 23:52] PetrilloAtWork commented on #401
The commit _could_ fix it... it was not tested. I am doing it now.

[2022-05-20 00:05] PetrilloAtWork commented on #401
The commit does _not_ solve the issue. I'll revert it.

[2022-05-20 00:11] PetrilloAtWork commented on #401
I am not sure about the build itself; for the C.I. _tests_, this data product is produced only on data, and I believe there is no data yet in the tests.

[2022-05-20 00:20] PetrilloAtWork commented on #401
I have requested a pull of the fix (#402). I am still not sure about what happened, but I think it stemmed from a wrong request I made during the code review.

[2022-05-20 00:27] rennney commented on #401
Ok, it will go in v09_52_00 most likely tomorrow. Thank you for fast fix!

[2022-05-23 19:58] #401 closed

[2022-09-09 08:18] #380 closed

[2022-09-09 08:19] wesketchum commented on #288
@PetrilloAtWork @drinkingkazu is this still relevant, or can we close those?

[2022-09-09 19:04] SFBayLaser commented on #280
Wow! This got left hanging for a long time when it should have been closed out. Generally, the noise model for both the 1D and 2D drift simulations has been updated and matched to data as well as possible at this point. This is being done on a per board basis so is quite granular. So I am going to go ahead and close this out.

[2022-09-09 19:04] #280 closed

[2022-09-10 20:03] PetrilloAtWork commented on #288
Still relevant. Alas.

[2022-09-14 17:07] PetrilloAtWork opened #446 "CRT header should be purged of bad practices"
The header `icaruscode/CRT/CRTUtils/CRTHitRecoAlg.h` features a critical bad coding practice that should be amended as soon as possible: `using` directives should **never** appear in global scope of a header, in that they will affect all the code they are directly or indirectly included into, in a way that depends on the order of inclusion.

https://github.com/SBNSoftware/icaruscode/blob/51134a681

[2022-09-15 07:08] wesketchum commented on #288
OK, reassigned to the 2022C release...

[2022-09-16 22:47] PetrilloAtWork opened #449 "Warning in PMT digitisation: "Check on sampled photoelectron waveform template failed!""
PMT digitisation simulation emits these warnings:
[code]
The single photon response is supposed to be defined widely enough that it has already faded out at the end of the interval of definition. With our current data-driven SPR (`202202`), this is not the case and the warning is triggered.
The best solution is not clear (whether to work around the warning or to change the SPR).

The relevant code

[2022-09-19 17:27] SFBayLaser commented on #446
Yikes! Can those at the minimum be moved to the source files? Or put into the namespace of the code that uses them? Or, best, not use them at all?

[2022-09-20 09:33] francescopoppi commented on #446
I assigned this task to myself as well, I will take care of this in the upcoming weeks.

[2022-09-20 15:31] SFBayLaser opened #450 "Move "ChannelROI" from ICARUS to SBN"
We have implemented a new class, "ChannelROI", which aims to keep "regions of interest" (ROIs) in waveforms using short int values instead of float (as is done by recob::Wire objects). This aims to not only save space from the size of the values stored but also in their compressibility.

Currently this object is implemented in icaruscode but would be of general use in the SBN program, hence the pl

[2022-09-20 15:54] PetrilloAtWork opened #451 "Retain partial optical detector waveforms in the reconstruction files"
As part of the plan to reduce the storage requirements of ICARUS data, optical detector waveforms are being dropped from `Stage1` (and possibly `Stage0`) output.
Given that this loss is effectively irreversible due to the costs involved in processing the data again, there is desire to retain at least part of that information for future improvements.
The gamble is to write information that may be u

[2022-09-20 15:55] SFBayLaser commented on #450
Because that process is pretty onerous and we have a short time fuse for the production release.

[2022-09-20 16:03] PetrilloAtWork opened #452 "Validate the use of `sim::SimPhotonsLite` in ICARUS simulation"
ICARUS digitisation simulation has been extended by @hgreenlee to optionally utilise `sim::PhotonsLite` instead of `sim::SimPhotons`, with the advantage of reducing the information stored.

The impact of this change to the optical reconstruction (in particular timing) has not been assessed yet.
This needs to happen for ICARUS to be confident to proceed with the change.

Note that this change also

[2022-09-20 16:05] SFBayLaser commented on #451
Is this possibly another use case for ChannelROI?

[2022-09-20 16:34] cerati commented on #450
This would be a non-breaking change so it should be relatively straightforward. I am sure eventually DUNE will want something similar, so doing things right upfront will save us a migration campaign later. Anyways, I am still learning priorities and timelines, so I won't insist.

[2022-09-20 16:37] SFBayLaser opened #453 "Update production fhicl files for Stage 0"
The standard "run 1" fhicl files will need updating for production running when we start run 2, nominally beginning mid-October.

[2022-09-21 17:20] SFBayLaser commented on #453
Starting a list of changes in stage 0 fhicl files:

1. drop all output from decoding stage
2. drop recob::Wire output from deconvolution and ROI finding stages
3. keep recob::ChannelROI output from the ROI finding stage
4. keep some form of PMT waveform output (TBD)

[2022-09-21 17:28] SFBayLaser commented on #453
Necessary "Run 2" fhicl files:

1. 'stage0_run2_icarus..fcl' which should be the default fcl file for production
2. 'stage0_run2_raw_icarus.fcl' which is the default fhicl file but maintains noise filter RawDigits for scanning purposes
3. 'stage0_run2_wc_icarus.fcl' which uses the 2D deconvolution
4. 'stage0_run2_icarus_mc.fcl' which is the default fhicl file for MC
5. 'stage0_run2_raw_icarus_mc.f

[2022-09-21 17:29] SFBayLaser commented on #453
Should we do some general cleanup of the decoder fcl directory? Essentially, move all fcl files associated to previous runs to a subfolder...

[2022-09-21 18:34] PetrilloAtWork commented on #453
Non-production configurations to be preserved: PMT and trigger take:
* `decodePMT_icarus.fcl`
* `decodeTrigger_icarus.fcl`
* `dump_artfragments_pmt_icarus.fcl`
* `dump_triggers_icarus.fcl`

Known dependencies:
* `CAEN_V1730_setup_icarus.fcl`
* `decodePMTdefs_icarus.fcl`

[2022-09-22 12:32] wesketchum commented on #450
@SFBayLaser can we make the namespaces more general (I guess `recob::`), such that if we did push them to lardataobj, then that will minimize disruption (if that's not already so...)

[2022-09-22 15:07] SFBayLaser commented on #450
The namespace for ChannelROI is recob.... but I might be missing something else here?

[2022-09-22 15:11] wesketchum commented on #450
That's the main thing that comes to mind ... so, ok, that's good at least.

[2022-09-22 17:04] SFBayLaser opened #454 "Convert detector simulation to use wirecell 2D simulation"
We want to convert to use the wirecell 2D simulation as the default detector simulation. As I am typing this I cannot get the 2D simulation to actually run... But assuming that is just mechanical (since it has run in the past) the main things to be done will be to change the stage 0 processing for simulation to pick up the correct data products. There will also be work necessary to understand how

[2022-09-26 18:31] SFBayLaser commented on #453
The first PR is now available: https://github.com/SBNSoftware/icaruscode/pull/458

[2022-10-06 13:23] PetrilloAtWork opened #464 "PMT timing corrections should not be applied on simulation"
The code in PR #440 applies a time correction to the reconstructed PMT hits read from a database according to the run their event belongs to.
In case of simulation, this correction should be disabled completely, the service interfacing to that database should not be used nor required.
Ideally, that service itself should be able also to return a neutral correction when dealing with Monte Carlo even

[2022-10-12 14:09] wesketchum commented on #453
OK, @SFBayLaser a part2 still ongoing here? Just want to make sure we don't close if not finished.

[2022-10-25 19:02] cerati opened #475 "Simulation of beam bunch structure timing"
This issue is to track the status of the simulation fo the BNB buch structure timing.

Based on a conversation with @jzennamo , the current status as of 2022/10/25 is:
1. The infrastructure exists and is used by default both by ICARUS and SBND
2. BNB parameters used by ICARUS and SBND are different (e.g. sigma 2.0 vs 1.308, ndtbucket 18.83 vs 19)
3. Corrections for simulating the time of flight wi

[2022-10-26 02:55] cerati commented on #475
Some other remarks from @PetrilloAtWork
The sigma 2 was mostly a guess. The rest is much less so (BNB does go with 53.103 MHz AFAIK).
The lack of correlation between time and location of the interaction translates into the neutrino "blinking" every 19 ns everywhere in the detector for ~2 ns, then disappear until the next bucket.
That is not of any use IMO. In ICARUS we have two or three buckets tr

[2022-11-01 18:17] cerati opened #476 "Avoid hardcoded constants in CRT reco code"
As mentioned by @SFBayLaser in @francescopoppi 's PR #469 we should avoid hardcoding numbers in the reco code and instead rely on "some form of database".

The above PR is being merged but this issue is made to keep track of the request.

[2022-11-08 16:45] wesketchum commented on #451
Fixed by #478 (I think ... in part at least ...)

[2022-11-08 16:47] cerati commented on #453
looks like #482 is the last PR for this issue, right?

[2022-11-08 23:57] PetrilloAtWork commented on #451
PR #478 implements option 3 (retain the full waveform information only around the beam gate), but it does not change the standard workflow to use the new feature.

[2022-11-10 17:51] PetrilloAtWork opened #486 "Keep trigger raw data fragment in Stage0 and Stage1"
Is was proposed by @wesketchum that the trigger raw data be kept in the data files.
Additional discussion may be desired.
The amount of data is not an issue (it's < 2 kB before compression).

[2022-11-13 22:58] PetrilloAtWork opened #487 "Trigger simulation requires specific workflow"
As first found thanks to C.I. test when introducing trigger simulation in PR #483, the trigger simulation requires information (namely, the beam gate) that is produced only by `GENIEGen`. We can imagine several branches to the workflow to accommodate this feature:
* neutrino samples will want to run trigger simulation, and do already provide the necessary information as `generator` input tag (or a

[2022-11-13 22:58] PetrilloAtWork commented on #487
A possible solution is to introduce a new data product instance `beamgate` which is produced:
* for neutrino samples, by `FixBeamGateInfo` module which just copies it from `generator` to the new standard name.
* for in-time cosmic-ray samples, by `WriteBeamGateInfo` configured to reflect the in-time window of the sample (these have already separate workflows).
* for cosmic ray samples, I would adv

[2022-11-29 18:12] wesketchum commented on #453
Calling this done. If we need to do more, we can reopen or make a new issue/PR.

[2022-11-29 18:12] #453 closed

[2022-11-29 18:40] wesketchum commented on #486
Fixed by #460

[2022-11-30 01:22] PetrilloAtWork commented on #464
Still to-do.